html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.sky {
    background-color: rgb(80, 187, 206);
    height: 70%;
    position: relative;
}

.sun {
    width: 100%;
    height: 20rem;
    position: relative;
}

.sun>div {
    width: 15rem;
    height: 15rem;
    background-color: rgb(255, 255, 0);
    filter: blur(1rem); 
    border-radius: 50%;
    position: absolute;
    top: 2rem;
    right: 10rem;
}

.clouds {
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: space-between;
    /* background-color: pink; */
    animation: cloudMovement 3s linear 0s infinite reverse;
}

.cloud {
    position: relative;
    height: 90%;
}

.cloud:nth-child(even) {
    align-self: end;
}

.cloud>div {
    position: absolute;
    background-color: white;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.cloud>div:nth-child(1) {
    top: 30%;
}

.cloud>div:nth-child(2) {
    left: 5rem;
}

.cloud>div:nth-child(3) {
    left: 5rem;
    bottom: 4rem;
}

.cloud>div:nth-child(4) {
    left: 10rem;
    bottom: 4rem;
}

.cloud>div:nth-child(5) {
    left: 10rem;
}

.cloud>div:nth-child(6) {
    top: 30%;
    left: 15rem;
}

.land {
    background-color: rgb(65, 173, 74);
    height: 30%;
    display: flex;
    align-items: center;
}

.road {
    background-color: darkgray;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
}

.road-marks {
    width: 100%;
    display: flex;
    justify-content: space-around;
    animation: roadMarksMovement 1s linear 0s infinite reverse;
}

.road-mark {
    background-color: white;
    width: 7rem;
    height: 2rem;
}

.car {
    position: absolute;
    height: 30rem;
    width: 40rem;
    z-index: 10;
    bottom: 8rem;
    left: 3rem;
}

.car-parts-cont {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: rgb(189, 189, 218); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top {
    background-color: rgb(151, 54, 54);
    height: 36%;
    width: 54%;
    flex-shrink: 0;
    align-self: flex-start;
    margin-left: 4rem;
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bott {
    border-top-right-radius: 3rem;
    border-top-left-radius: 2.3rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgb(151, 54, 54);
    width: 90%;
    height: 54%;
    flex-shrink: 0;
    z-index: 1;
}

.tire-1, .tire-2 {
    position: absolute;
    height: 10rem;
    width: 10rem;
    background-color: black;
    border-radius: 50%;
    bottom: 0rem;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tire-1 {
    left: 5rem;
}

.tire-2 {
    right: 4rem;
}

.back-bump, .front-bump {
    position: absolute;
    height: 3rem;
    width: 4rem;
    background-color: rgb(70, 69, 69);
    bottom: 3rem;
}

.back-bump {
    left: 0px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.front-bump {
    right: 0rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.torch {
    position: absolute;
    z-index: 2;
    background-color: rgb(243, 243, 91);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    right: 3rem;
    bottom: 12rem;
}

.windows {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    background-color: rgb(115, 162, 233);
    width: 15rem;
    height: 8rem;
}

.windows>div {
    width: 50%;
    height: 100%;
    border-right: 3px solid black;
}

.cap {
    background-color: silver;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    position: relative;
    animation: tireRotate 1s linear 0s infinite normal;
}

.shine {
    position: absolute;
    background-color: white;
    width: 2rem;
    height: 1rem;
    border-radius: 30%;
    top: 1rem;
    right: 1rem;
    transform: rotate(30deg);
}

/* Animations */
@keyframes tireRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes roadMarksMovement {
    from {
        transform: translate(-20rem, 0rem);
    }
    to {
        transform: translate(19rem, 0rem)
    }
}

@keyframes cloudMovement {
    from {
        transform: translate(-200rem, 0rem);
    }
    to {
        transform: translate(200rem, 0rem)
    }
}
