html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.sky {
    background-color: rgb(80, 187, 206);
    height: 70%;
    position: relative;
}

.land {
    background-color: rgb(65, 173, 74);
    height: 30%;
    display: flex;
    align-items: center;
}

.road {
    background-color: darkgray;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
}

.road-marks {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.road-mark {
    background-color: white;
    width: 7rem;
    height: 2rem;
}

.car {
    position: absolute;
    height: 30rem;
    width: 40rem;
    z-index: 10;
    bottom: 8rem;
    left: 3rem;
}

.car-parts-cont {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(189, 189, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top {
    background-color: rgb(151, 54, 54);
    height: 36%;
    width: 54%;
    flex-shrink: 0;
    align-self: flex-start;
    margin-left: 4rem;
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
}

.bott {
    border-top-right-radius: 3rem;
    border-top-left-radius: 2.3rem;
    background-color: rgb(151, 54, 54);
    width: 90%;
    height: 54%;
    flex-shrink: 0;
}