/* Reset */
html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 1.6rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.8rem;
}

input:focus {
  outline: none;
}

/* CSS */
body {
    background-color: rgb(65, 60, 60);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-image: linear-gradient(to bottom, rgb(121, 53, 109), rgb(214, 142, 202));
    /* background-color: rgb(159, 84, 230); */
    padding: 1rem;
    text-align: center;
}

main {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: 120rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    overflow-x: auto;
    padding: 0rem 2rem;
}

.column {
    min-height: 50rem;
    min-width: 32rem;
    background-color:rgba(190, 188, 190, 0.26);
    border-radius: 2rem;
}

.column>h2 {
    background-color:rgba(189, 52, 166, 1);
    text-align: center;
    padding: 1rem 0rem;
}

#to-do {
    position: relative;
}

.add-task {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

.add-task>input {
    width: 75%;
    height: 3.5rem;
    border-bottom-left-radius: 2rem;
    border: 1px solid rgba(190, 188, 190, 0.26);
    border-right: 1px solid white;
    background-color:rgba(190, 188, 190, 0.26);
    color: white;
    padding-left: 2rem;
}

.add-task>input:focus {
    border: 1px solid white;
}

.add-task>button {
    height: 3.5rem;
    width: 25%;
    border-bottom-right-radius: 2rem;
    border: none;
    background-color:rgba(189, 52, 166, 1);
    color: white;
}

.tasks {
    height: 42rem;
    overflow: auto;
}

.tasks>div {
    height: 14rem;
    background-color: rgba(0, 255, 0, 0.253);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.primary {
    width: 80%;
}

.interface {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
}

.interface>button {
    width: 7rem;
    height: 3rem;
    border-radius: 9999px;
    border: none;
    background-color: rgba(189, 52, 166, 1);
    color: white;
    transition: 0.5s ease;
    cursor: pointer;
}

.interface>button:hover {
    background-color: rgba(255, 0, 212, 0.918);
    transform: scale(1.05);
}

.drag-handle {
    display: flex;
    align-items: center;
}

.drag-handle>img {
    width: 4.5rem;
    transform: rotate(90deg);
    filter: invert(100);
    cursor: pointer;
}