@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Outfit:wght@100..900&family=Updock&display=swap');
@import "tailwindcss";

* {
    font-family: "Outfit", sans-serif;
}

.is-loading {
  background-color: #cccccc; /* Grey color */
  color: #666666;           /* Faded text */
  cursor: not-allowed;      /* Changes mouse icon */
}
